absl-py==1.2.0
altair==4.2.0
astroid==2.4.2
astunparse==1.6.3
attrs==22.1.0
autopep8 @ file:///opt/conda/conda-bld/autopep8_1650463822033/work
backcall==0.2.0
bidict==0.22.0
blinker==1.5
CacheControl==0.12.11
cachetools==5.2.0
certifi==2022.6.15
cffi==1.15.1
charset-normalizer==2.1.0
click @ file:///D:/bld/click_1651215430313/work
colorama==0.4.4
commonmark==0.9.1
cryptography==40.0.1
cycler @ file:///tmp/build/80754af9/cycler_1637851556182/work
decorator==5.0.7
entrypoints==0.4
Flask @ file:///home/conda/feedstock_root/build_artifacts/flask_1659505901812/work
flatbuffers==1.12
fonttools==4.25.0
gast==0.4.0
gitdb==4.0.9
GitPython==3.1.27
google-api-core==2.11.0
google-api-python-client==2.83.0
google-auth==2.17.0
google-auth-httplib2==0.1.0
google-auth-oauthlib==0.4.6
google-cloud-core==2.3.2
google-cloud-firestore==2.10.1
google-crc32c==1.5.0
google-pasta==0.2.0
google-resumable-media==2.4.1
googleapis-common-protos==1.59.0
grpcio==1.53.0
grpcio-status==1.53.0
h5py==3.7.0
httplib2==0.22.0
idna==3.3
importlib-metadata @ file:///D:/bld/importlib-metadata_1653252997230/work
ipykernel==5.5.3
ipython==7.22.0
ipython-genutils==0.2.0
isort==5.7.0
itsdangerous @ file:///home/conda/feedstock_root/build_artifacts/itsdangerous_1648147185463/work
jedi==0.18.0
Jinja2 @ file:///home/conda/feedstock_root/build_artifacts/jinja2_1654302431367/work
jsonschema==4.16.0
jupyter-client==6.1.12
jupyter-core==4.7.1
keras==2.9.0
Keras-Preprocessing==1.1.2
kiwisolver @ file:///C:/ci/kiwisolver_1653292407425/work
lazy-object-proxy==1.4.3
libclang==14.0.6
Markdown==3.4.1
MarkupSafe @ file:///D:/bld/markupsafe_1648737757460/work
matplotlib @ file:///C:/ci/matplotlib-suite_1647423638658/work
mccabe==0.6.1
mkl-fft==1.3.1
mkl-random @ file:///C:/ci/mkl_random_1626186184308/work
mkl-service==2.4.0
msgpack==1.0.5
munkres==1.1.4
numpy @ file:///D:/bld/numpy_1657483989399/work
oauthlib==3.2.0
opencv-python==4.6.0
opt-einsum==3.3.0
packaging @ file:///tmp/build/80754af9/packaging_1637314298585/work
pandas==1.5.0
parso==0.8.2
pickleshare==0.7.5
Pillow==9.2.0
ply==3.11
prompt-toolkit==3.0.18
proto-plus==1.22.2
protobuf==3.20.3
pyarrow==9.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle @ file:///tmp/build/80754af9/pycodestyle_1636635402688/work
pycparser==2.21
pydeck==0.8.0b3
Pygments==2.8.1
PyJWT==2.6.0
pylint==2.6.0
Pympler==1.0.1
pyparsing @ file:///tmp/build/80754af9/pyparsing_1635766073266/work
PyQt5==5.15.7
PyQt5-sip @ file:///C:/Windows/Temp/abs_d7gmd2jg8i/croots/recipe/pyqt-split_1659273064801/work/pyqt_sip
pyrsistent==0.18.1
python-dateutil==2.8.1
pytz==2022.2.1
pytz-deprecation-shim==0.1.0.post0
pywin32==300
pyzmq==22.0.3
requests==2.28.1
requests-oauthlib==1.3.1
rich==12.5.1
rsa==4.9
semver==2.13.0
sip @ file:///C:/Windows/Temp/abs_b8fxd17m2u/croots/recipe/sip_1659012372737/work
six==1.15.0
smmap==5.0.0
streamlit==1.13.0
tensorboard==2.9.1
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.9.1
tensorflow-estimator==2.9.0
tensorflow-io-gcs-filesystem==0.26.0
termcolor==1.1.0
toml==0.10.2
toolz==0.12.0
tornado==6.1
traitlets==5.0.5
typing_extensions==4.3.0
tzdata==2022.4
tzlocal==4.2
uritemplate==4.1.1
urllib3==1.26.11
validators==0.20.0
watchdog==2.1.9
wcwidth==0.2.5
Werkzeug @ file:///home/conda/feedstock_root/build_artifacts/werkzeug_1658974769507/work
wincertstore==0.2
wrapt==1.12.1
zipp @ file:///home/conda/feedstock_root/build_artifacts/zipp_1659400682470/work
