.navbar {
  margin-bottom: 30px;
}

.main-wrapper {
  height: 80%;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 3rem;
}

.boxes {
  display: flex;
  gap: 10rem;
}

.left-box,
.right-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  position: relative;
}

.box {
  width: 400px;
  height: 400px;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 30px;
}

.input {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.input > .center, .left, .right {
  width: 100px;
  height: 100px;
  position: absolute;
  transform-origin: bottom;
}

.input .center {
  z-index: 2;
}

.input .left,
.input .right {
  scale: 0.9;
}

.input .right {
  transform: rotate(10deg) translateX(20px);
}

.input .left {
  transform: rotate(-10deg) translateX(-20px);
}

.title {
  translate: 0 80px;
  /* text-align: center; */
  font-family: "Barlow Semi Condensed", sans-serif;
  font-size: 1.4rem;
  font-weight: 600;
}

.input-buttons {
  display: flex;
  gap: 2rem;
}

.btns {
  width: 10rem;
  padding: 10px 20px;
  border: none;
  box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.6);
  color: white;
  font-size: 1.2rem;
  font-weight: 500;
  background: none;
  border-radius: 20px;
  transition: 0.3s ease-out;
}

.btns:hover {
  color: black;
  background: rgba(255, 255, 255, 0.6);
  cursor: pointer;
}

.video-container {
  display: none;
  position: absolute;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.9);
  justify-content: center;
  align-items: center;
  gap: 4rem;
}

.video {
  width: 700px;
  height: 700px;
}

.video-container>div {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.uploaded-image {
  width: 100%;
  height: 100%;
  z-index: 3;
  position: absolute;
  overflow: hidden;
  display: none;
}

* {
    padding: 0;
    margin: 0
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #eee
}

button {
    padding: 20px 30px;
    font-size: 1.5em;
    width:200px;
    cursor: pointer;
    border: 0px;
    position: relative;
    margin: 20px;
    transition: all .25s ease;
    background: rgba(1, 119, 119, 1);
    color: #fff;
    overflow: hidden;
    border-radius: 10px
}

.load {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: inherit
}

.load::after {
    content: '';
    position: absolute;
    border-radius: 50%;
    border: 3px solid #fff;
    width: 30px;
    height: 30px;
    border-left: 3px solid transparent;
    border-bottom: 3px solid transparent;
    animation: loading1 1s ease infinite;
    z-index: 10
}

.load::before {
    content: '';
    position: absolute;
    border-radius: 50%;
    border: 3px dashed #fff;
    width: 30px;
    height: 30px;
    border-left: 3px solid transparent;
    border-bottom: 3px solid transparent;
    animation: loading1 2s linear infinite;
    z-index: 5
}

@keyframes loading1 {
    0% {
        transform: rotate(0deg)
    }

    100% {
        transform: rotate(360deg)
    }
}

button.active {
    transform: scale(.85)
}

button.activeLoading .loading {
    visibility: visible;
    opacity: 1
}

button .loading {
    opacity: 0;
    visibility: hidden
}