<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Sketch</title>
	<link rel="stylesheet" href="./static/css/styles.css">
	<link rel="stylesheet" href="./static/css/project.css">
	<script src="./static/js/main.js" defer></script>
</head>

<body>
	<div class="container" id="container">
		<div class="navbar">
			<div class="logo-container">
				<img src="./static/images/companyLogo.png" alt="logo" class="logo">
				<p>Kernel Mappers</p>
			</div>
			<ul class="links">
				<li><a href="/">Home</a></li>
				<li><a href="./about.html">About</a></li>
			</ul>
		</div>


		<div class="main-wrapper">
			<div class="boxes">
				<div class="left-box">
					<div class="box input">
						<img src="" alt="" class="uploaded-image">
						<img src="./static/images/google-docs.png" class="center" draggable="false" alt="image">
						<img src="./static/images/google-docs.png" class="left" draggable="false" alt="image">
						<img src="./static/images/google-docs.png" class="right" draggable="false" alt="image">
						<div class="title">Drag and drop the file</div>
					</div>
					<div class="input-buttons">
						<input type="file" name="" id="fileInput" style="display: none;">
						<button class="btns upload" id="upload">Upload</button>
						<button class="btns Camera" id="cameraBtn">Camera</button>
						<!-- <button class="btns">Transform</button> -->
					</div>
				</div>
				<button class="btns transform" onclick= "">Transform</button>
				<div class="right-box">
					<div class="box output">
						<!-- output image place -->
					</div>
					<button class="btns refresh">Download</button>
				</div>
			</div>
		</div>
		<div class="video-container" id="video-container">
			<video autoplay="true" id="video" class="video"></video>
			<div>
				<button class="btns" id="capture">Capture</button>
				<button class="btns" id="cancel">Close</button>

			</div>
		</div>
	</div>

	<script src="https://cdn.jsdelivr.net/npm/vanta@0.5.21/vendor/three.r119.min.js"></script>
	<script src="https://cdn.jsdelivr.net/gh/tengbao/vanta@master/dist/vanta.net.min.js"></script>
	<script>
		VANTA.NET({
			el: "#container",
			mouseControls: true,
			touchControls: true,
			gyroControls: false,
			minHeight: 200.00,
			minWidth: 200.00,
			scale: 1.00,
			scaleMobile: 1.00,
			color: 0x4192c0,
			backgroundColor: 0x111118,
			points: 16.00,
			spacing: 17.00
		})
	</script>
</body>

</html>